<app-header></app-header>
<div class="container">
    <div class="row align-items-center">
        <div class="col col-4 offset-4" align="center">
            <app-datepicker></app-datepicker>
        </div>
        <div class="col col-3 offset-1" align="right">
            <app-addtask></app-addtask>
        </div>
    </div>
</div>
<div class="container mt-3">
    <div class="row">
        <div class="col col-4">
            <app-timeslots></app-timeslots>
        </div>
        <div class="col col-8">
            <app-cards></app-cards>
        </div>
    </div>
    
</div>


<router-outlet></router-outlet>